@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background: black;
    color: white;
}

/* main {
    background-image: url(https://images.pexels.com/photos/1906932/pexels-photo-1906932.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
} */

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

/* * {
    background-color: rgba(0, 0, 0, 0.1);
    outline: red solid 2px;
} */
